<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ajbobo.contactgrid"
      android:versionName="1.04" android:versionCode="5">
    <application android:label="@string/app_name" android:icon="@drawable/people">
        <activity android:name=".ContactGrid"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

<uses-permission android:name="android.permission.READ_CONTACTS"/>


<uses-sdk android:targetSdkVersion="7" android:minSdkVersion="7"></uses-sdk>




</manifest> 